################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/couriernowapi/FileContentIndex
/.vs/couriernowapi/DesignTimeBuild/.dtbcache.v2
