################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/couriernowapi/FileContentIndex
/.vs/couriernowapi/DesignTimeBuild/.dtbcache.v2
/Application/bin
/Application/obj/Debug/net6.0/Application.AssemblyInfo.cs
*.suo
*.user
_ReSharper.*
bin
obj
packages
/Application/obj/Debug/net6.0/ref/Application.dll
/Application/obj/Debug/net6.0/Application.AssemblyInfoInputs.cache
/Application/obj/Debug/net6.0/Application.assets.cache
/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net6.0/Application.csproj.CopyComplete
/Application/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net6.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net6.0/Application.dll
/Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/net6.0/Application.pdb
/Application/obj/Debug/net6.0/Application.sourcelink.json
/Application/obj/Application.csproj.nuget.dgspec.json
/Application/obj/Application.csproj.nuget.g.props
/Application/obj/project.assets.json
/Application/obj/project.nuget.cache
/.vs/couriernowapi/DesignTimeBuild/.dtbcache.v2
/.vs/couriernowapi/FileContentIndex/202a8f08-f2ec-48b8-8b8f-c663b3393950.vsidx
/.vs/couriernowapi/FileContentIndex/2eed251b-744b-4c90-8c06-3474a5687665.vsidx
/.vs/couriernowapi/FileContentIndex/3c602496-4779-434a-afca-31a82898e861.vsidx
/.vs/couriernowapi/FileContentIndex/ace65165-ec88-47e4-8f73-086a6e560c77.vsidx
/.vs/couriernowapi/FileContentIndex/ed70573d-2788-4f60-9e8b-84dfdb426bbc.vsidx
/.vs/couriernowapi/v17/.futdcache.v2
/.vs/couriernowapi/v17/.suo
/.vs/couriernowapi/v17/DocumentLayout.backup.json
/.vs/couriernowapi/v17/DocumentLayout.json
/.vs/ProjectEvaluation/couriernowapi.metadata.v7.bin
/.vs/ProjectEvaluation/couriernowapi.projects.v7.bin
/Domain/bin/Debug/net6.0/Domain.dll
/Domain/bin/Debug/net6.0/Domain.pdb
/Domain/obj/Debug/net6.0/ref/Domain.dll
/Domain/obj/Debug/net6.0/refint/Domain.dll
/Domain/obj/Debug/net6.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net6.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net6.0/Domain.assets.cache
/Domain/obj/Debug/net6.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/net6.0/Domain.dll
/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net6.0/Domain.pdb
/Domain/obj/Debug/net6.0/Domain.sourcelink.json
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/project.assets.json
/Domain/obj/project.nuget.cache
/Infrastructure/bin/Debug/net6.0/Application.dll
/Infrastructure/bin/Debug/net6.0/Application.pdb
/Infrastructure/bin/Debug/net6.0/Domain.dll
/Infrastructure/bin/Debug/net6.0/Domain.pdb
/Infrastructure/bin/Debug/net6.0/Infrastructure.deps.json
/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
/Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
/Infrastructure/Migrations/20240105074950_DB Initialize.cs
/Infrastructure/Migrations/20240105074950_DB Initialize.Designer.cs
/Infrastructure/Migrations/20240105100737_second.cs
/Infrastructure/Migrations/20240105100737_second.Designer.cs
/Infrastructure/Migrations/20240519165335_InitialMigration.cs
/Infrastructure/Migrations/20240519165335_InitialMigration.Designer.cs
/Infrastructure/Migrations/20240803171614_TestMigration.cs
/Infrastructure/Migrations/20240803171614_TestMigration.Designer.cs
/Infrastructure/obj/Debug/net6.0/ref/Infrastructure.dll
/Infrastructure/obj/Debug/net6.0/refint/Infrastructure.dll
/Infrastructure/obj/Debug/net6.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/net6.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CopyComplete
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
/Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net6.0/Infrastructure.sourcelink.json
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/project.nuget.cache
